*{
    margin: 0;
    padding: 10;
}
.fundo{
    background-image: linear-gradient(45deg,rgb(194, 178, 178), rgb(75, 67, 68));
    height: 100vh;
   
}
.calculadora{
    position: absolute;
    text-align: center;
    background-color: lightgray;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 80px;
    height: 80px;
    font-size: 50px;
    margin: 3px;
    cursor: pointer;
}
.botao:hover{
    background-color: rgb(238, 218, 218);
}
#resultado{
    background-color: white;
 width: 350px;
 height: 60px;
 margin: 6px;
 font-size: 50px;
 text-align: right;
 padding: 0px;
}